/* Add your styles for the page here */

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.left {
  flex: 1;
  background-color: #fdd21a;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #1a1a1a;
  /* text-align: center; */
}

.left .logo {
  max-width: 160px;
  margin-bottom: 30px;
}

.left h1 {
  font-size: 40px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 30px;
  text-align: center;
}

.left p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #1a1a1a;
  text-align: center;
}

button {
  background-color: #008cd1;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  align-self: flex-start;
  margin: auto;
}

.right {
  flex: 1;
  min-height: 100vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Navigation bar styles */
.navbar {
  background-color: white; /* White background for the navbar */
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd; /* Light gray border at the bottom */
}

.nav-logo {
  height: 40px; /* Adjust the logo size */
}
